<section class="historial-clinico">
  <h2>Historial Clinico</h2> 
  <p-button 
    (onClick)="abrirModalRegistro()"
    [style]="{width: '200px', margin: '15px 0px'}"
    label="Nuevo registro" 
    class="p-button-danger">
  </p-button>
  <p-table [rowHover]="true" [value]="historial" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
          <th>Nombre Mascota</th>
          <th>Edad años</th>
          <th>Estado</th>
          <th>Ultima Revision</th>
          <th>Acciones</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-historial>
        <tr>
          <td>{{historial.nombreMascota}}</td>
          <td>{{historial.edad}}</td>
          <td>{{historial.estado}}</td>
          <td>{{historial.ultimaRevision}}</td>
          <td>
            <button style="margin-right: 10px;" pButton type="button" label="Editar" (click)="abrirModal(historial.id)"></button>
            <button pButton type="button" label="Eliminar" class="p-button-danger" (click)="eliminarRegistro(historial.id)"></button>
          </td>
        </tr>
    </ng-template>
 </p-table>
</section>

 <p-dialog [modal]="true" header="Editar historico" [style]="{width: '450px'}" [(visible)]="displayModal">
    <form class="formulario-edicion">    
      <input placeholder="Nombre Mascota" type="text" pInputText  [(ngModel)]="nuevoRegistro.nombreMascota" name="mascotaNombre"  />
      <input placeholder="Edad Mascota" type="text" pInputText  [(ngModel)]="nuevoRegistro.edad" name="edad"/>
      <input placeholder="estado" type="text" pInputText  [(ngModel)]="nuevoRegistro.estado"  name="estado"/>
      <input type="date" placeholder="Ultima revision"  pInputText [(ngModel)]="nuevoRegistro.ultimaRevision" name="fecha"/>
      <p-message 
        *ngIf="mensajeErrorFormulario != ''" 
        severity="error" 
        [text]="mensajeErrorFormulario"
        [style]="{width: '100%', margin: '10px 0px'}"
      >
      </p-message>
      <p-button 
       *ngIf="editar === false"
        (onClick)="actualizarRegistro()"
        [style]="{width: '100%', margin: '15px 0px'}" 
        class="editar" 
        label="Actualizar" 
        class="p-button-danger">
      </p-button>
      <p-button 
       *ngIf="editar === true"
        (onClick)="crearRegistro()"
        [style]="{width: '100%', margin: '15px 0px'}" 
        class="editar" 
        label="Crear" 
        class="p-button-danger">
      </p-button>
      <p-button
       (onClick)="cerrarModal()"
       [style]="{width: '100%'}" 
       class="editar" 
       label="Cancelar" 
       class="p-button-danger">
     </p-button>
    </form>
  </p-dialog>
  
