header{
    display: flex;
    width: 100%;
}

header img{
    width: 100px;
    height: auto;
}

header p-menubar{
    width: 100%;
}


.formulario-edicion input{
    margin-top: 15px;
    width: 100%;
}

.formulario-edicion p-button button {
    margin-top: 15px;
    width: 100%;
}
